* {
  background-color: rgb(197, 197, 15);
}

.umesh {
  background-color: chocolate;
  padding: 10px;
  font-size: 18px;
  font-weight: 10px;
  margin: 10px;
  color: blueviolet;
}

.lawa {
  background-color: coral;
  color: #eee;
}

.umesh1 {
  background-color: cyan;
  color: #eee;
}